.less-clutter{
    background-color: transparent;
    font-family: 'Inter', sans-serif;
    color: #ffffff40;
    background-color: transparent;
    font-size: 5.2rem;
    text-align: center;
    letter-spacing: 0.3px;
    font-weight: 600;
    margin: 0;
    height: auto;
}

.conjunto-4-cards-section-5{
    display: flex;
    gap: 20px;
    width: 90%;
    max-width: 1600px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.grid-card-3-section-5{
    background-color: #ffffff10;
    border-radius: 1.2rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    min-height: 400px;
    gap: 4rem;
    max-width: 300px;
}

.section-6{
    width: 100%;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: relative;
    flex-direction: column;
    gap: 6rem;
    margin-bottom:10vh; 
    height: fit-content;
    padding-top: 10rem;
    padding-bottom: 10rem;
}

.brew{
    width: fit-content;
    border: solid 1px #ffffff40;
    background-color: transparent;
    padding-left: 6rem;
    padding-right: 6rem;
    padding-top: 1.2rem;
    padding-bottom: 1.2rem;
    border-radius: 0.8rem;
    font-weight: 400;
    color: #ffffff40;
}

.conjunto-2-cards-section-7{
    display: flex;
    gap: 20px;
    width: 90%;
    max-width: 1600px;

    align-items: center;
    justify-content: center;
}

.grid-card-3-section-7{
    background: linear-gradient(120deg, #7CEFFF 12%, #397EE4 40%, #1B0536 100%);
    border-radius: 1.2rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    min-height: 300px;
    gap: 4rem;
}

.grid-card-4-section-7{
    background: linear-gradient(120deg, #FD9EFF 12%, #9E1F3E 40%, #270511 100%);
    border-radius: 1.2rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    min-height: 300px;
    gap: 4rem;
}
b{
background-color: transparent;
color: #ffffff80;
}

input{
    border-radius: 0.8rem;
    background-color: #1e152e;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 17px;
    padding-right: 17px;
    border: solid 1px #ffffff10
}

.input ::placeholder{
    background-color: transparent;
    font-size: 1rem;
}

.grid-card-3-section-8{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    width: 50%;
}

.grid-card-4-section-8{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 70%;
    gap: 2rem;
}

.grid-card-3-section-8 .text-subtext-card-2-grid{
    align-items: flex-start;

}
.input-button{
    display: flex;
    width: 80%;
    align-items:center ;
    justify-content: flex-start;
    gap:2rem;
}

.section-8{
    width: 100%;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    flex-direction: column;
    gap: 6rem;
    margin-bottom:10vh; 
    height: fit-content;
    padding-top: 10rem;
    padding-bottom: 10rem;
}

@media screen and (max-width:900px){
    .grid-card-3-section-5{
        background-color: #ffffff10;
        border-radius: 1.2rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        min-height: 300px;
        gap: 4rem;
        max-width: 300px;
    }

    .grid-card-3-section-7{
        align-items: center;
        justify-content: center;
        min-height: 300px;
        width: 80%;
    }
    
    .grid-card-4-section-7{
        align-items: center;
        justify-content: center;
        min-height: 300px;
        width: 80%;
    }

    .conjunto-2-cards-section-7{
        flex-direction: column;
    }

    .section-8 .conjunto-2-cards-section-7{
        width: 90%;
    }
    .grid-card-4-section-8{
        width: 90%;
        align-items: center;
        gap: 2rem;
    }

    .grid-card-3-section-8{
        width: 100%;
    }
    .input-button{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

}