*{
    margin: 0;

}

section{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: rgb(44, 2, 37);

}

.blob-1{
    width: 40%;
    height: 40%;
    position: fixed;
    top: 10px;
    left: 10px;

}

path{
    width: 100%;
}





