
body {
        background-color: #979797 ;
        margin: 3%;
}


.container{
    padding: 3px;
    height: 100vh;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: space-around;
    align-content: space-around;
    gap: 10px 10px;
}

.card{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(236, 236, 236);
    padding: 30px;
    width: 300px;
    height: 350px;
    border-radius: 28px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.user{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 90%;
}

.profile-picture{
    
    border-radius: 100%;
    background-color: rgb(255, 255, 255);
    padding: 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

}

i{
    font-size: 56px;
    color: #979797;
}


.name-followers{
    margin-top: 24px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.name{
    font-family: 'Open Sans', sans-serif; 
    font-weight: 900;
    letter-spacing: 1px;
    font-size: 20px;
    color: #4b4b4b;
    margin: 0;
}

.followers{
    font-family: 'Open Sans', sans-serif; 
    font-weight: 600;
    font-size: 13px;
    color:#7e7e7e;
}

.buttons{
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap:20px
}

.accept{
    width: 60%;
    border: none;
    background-color: rgb(44, 160, 255);
    padding: 10px 8px 10px 8px;
    border-radius: 6px;
    font-family: 'Open Sans', sans-serif; 
    font-weight: 600;
    color: rgb(236, 236, 236);
    font-size: 14px;
}

.ignore{
    width: 60%;
    border: solid 2px rgb(44, 160, 255);
    padding: 10px 8px 10px 8px;
    border-radius: 6px;
    font-family: 'Open Sans', sans-serif; 
    font-weight: 600;
    color: rgb(44, 160, 255);
    font-size: 14px;
}